@media only screen and (min-width: 1024px){
    .content__product-row .item__shirt:hover {
        transform: translateY(-20px);
        box-shadow: 0 0 10px red;
        cursor: pointer;
    }
    .footer__addres-item h2 {
        margin: 5px 0;
    }
    .item__shirt:hover .normal-image {
        opacity: 0;
    }
    
    .item__shirt:hover .hover-image {
        opacity: 1;
    }
    .item__shirt:hover .out-of-stock {
        color: red;
        background-color: #000;
    }
    .footer__header-on--menu {
        display: none;
    }
    .footer__header-close--menu {
        display: none;
    }
    .content__user-login--submit:hover {
        background-color: #000;
        color: white;
    }
    .content__information-item--buy---add:hover,
    .showCart-footer button:hover {
        background-color: red;
        color: #fff;
        border: 1px solid red;
        transform: scale(1.1);
    }
}

/* Ẩn nút menu trên màn hình lớn hơn 740px */
@media only screen and (min-width: 741px) {
    .header__btn i{
        display: none;
    }
    .header__menu-close {
        display: none;
    }
       
    
}
/* Hiển thị nút menu trên màn hình nhỏ hơn hoặc bằng 740px */
@media only screen and (max-width: 740px) {
    /* Header */
    .header__navbar-icon--link---user {
        position: absolute;
    }
    #logo {
        margin-right: 30px;
    }
    .header__btn > i {
        font-size: 2.7rem;
        font-weight: 900;
    }
    .header__btn--logo {
        margin-left: 50px;
        margin-top: 5px;
        font-size: 2.5rem;
    }

    .header__navbar-item--menu{
        display: none;
        background-color: #fff;
        width: 400px;
        height: 100vh;
        margin-top: -25px;
        margin-left: -180px;
        z-index: 3;
        animation: anmtMenu 1s ease ;
    }
    @keyframes anmtMenu {
        from {
            transform: translateX(300px);
        } to {
            transform: translateX(0);
        }
    }
    .header__menu-icon {
        margin-left: -50px;
    }
    .header__menu-item { 
        display: flex;
        font-size: 1.9rem;
        margin-top: -50px;
        padding-block: 60px;

    }
    .image__slider-item__img {
        height: auto;
    }
    .header__navbar-icon {
        margin-left: -37px;
        padding-right: 25px;
        font-size: 1.8rem;
        margin-top: 5px;
    }
    .header__navbar-icon--link---user {
        margin-left: 12px;
    }
    .icon-user {
        display: none;
        position: absolute;
        z-index: 2;
        background-color: white;
        margin-top: 26px;
        margin-left: -200px; 
        margin-right: -20px;
        padding: 30px;
        border-radius: 30px;
        animation:anmtUser 1s ease-in-out;
    }
    @keyframes anmtUser {
        from {
            transform: translateY(-150px);
        } to {
            transform: translateY(0);
        }
    }
    .header__navbar-icon--link {
        margin-left: 10px;
    }
    /* phần slider dưới header */
    .slick-dots {
        margin-bottom: 5px;
        gap: 0 10px;
    }
    .slick-dots button {
        height: 7px;
        width: 7px;
        
    }
    /* symbol logo trang chính */
    #symbol {
        position: relative;
        height: 200px;
    }
    .symbol__title{
        font-size: 20px;
        padding: 10px;
    }
    .symbol__box {
        padding: 0;
        width: 350px;
    }
    /* Phần sản Phẩm bán chạy */
    #content__selling-product h1 {
        padding: 20px 20px 0 20px;
        font-size: 20px;
    }
    .content__product-row .item__shirt {
        min-height: 200px;
        box-shadow: none;
        border-radius: 0;
    
    }
    .content__product-row img {
        height: 200px;
        border-radius: 0;
    }
    .content__product-row img:hover{

    }
    .content__product-name {
        font-size: 15px;
        font-weight: 400;
    }
    .hover-image{
    }
    .content__product-price p {
        font-size: 15px;
    }
    /*footer*/
    #footer {
        height: 100%;
        display: grid;
    }
    .footer__header {
        display: block;
        
    }
    .footer__NameOrigin {
        margin: 20px 0  0 10px;
        width: calc(95%);
        border-bottom: 1px solid #ccc; 
        padding-bottom: 10px;
    }
    .footer__NameOrigin--name,
    .footer__addre-name,
    .footer__support-name,
    .footer__TakeCareOf-name {
        position: relative;
        margin-bottom: 10px;
    }
    .footer__header-on--menu {
        position: absolute;
        right: 0;
        margin-right: 20px;
        font-size: 15px;
        display: block;
    }
    .footer__TakeCareOf-name > i {
        font-size: 15px;
    }
    .footer__header-close--menu {
        position: absolute;
        right: 0;
        margin-right: 20px;
        font-size: 15px;
        display: none;
    }
    .footer__NameOrigin h1 {
        margin: 20px 0 10px;
        font-size: 20px;
    }
    .footer__header-menu--item {
        display: none;
        animation: slideDown 1s ease;
    }
    @keyframes slideDown {
        0% {
          opacity: 0;
          transform: translateY(-20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
    .footer__NameOrigin-content {
        font-size: 12px;
        line-height: 20px;
    }
    .footer__addres {
        margin: 20px 0  0 10px;
        width: calc(95%);
        border-bottom: 1px solid #ccc; 
        padding-bottom: 10px;
    }
    .footer__addres-item  {
        display: none;
    }
    .footer__addres h1 {
        margin: 20px 0 15px;
        font-size: 20px;
    }
    .footer__addres p {
        display: block;
        line-height: 20px;
    }
    .footer__support {
        margin: 20px 0  0 10px;
        width: calc(95%);
        border-bottom: 1px solid #ccc; 
        padding-bottom: 10px;
    }

    .footer__TakeCareOf {
        margin: 20px 0  0 10px;
        width: calc(95%);
        border-bottom: 1px solid #ccc; 
        padding-bottom: 10px;
    }
    .footer__TakeCareOf h1 {
        margin-bottom: 20px;
    }
    .footer__contact-info i {
        font-size: 40px;
    }
    .footer__SocialNetwork {
        display: block;
        margin-top: 20px
    }
    .footer__SocialNetwork p {
        font-size: 10px;
        text-align: center;
    }
    .footer__SocialNetwork-icon {
        display: flex;
        justify-content: center;
        padding: 10px 0;
    }
    .footer__SocialNetwork i {
        font-size: 10px;
    }
    /* phần đăng nhập */
    .content__user-login--input,
    .content__user-login--input---password,
    .content__user-login--submit {
        width: 350px;
    }
    .content__user-login--icon---star,
    .content__user-login--eye,
    .content__user-login--eye---close {
        margin:27px 0 0 320px;
    }
    .content__user-login--icon---star {
        margin-top: 20px;
    }
    .content__user-login--eye,
    .content__user-login--eye---close {
        margin-top: 20px;
    }
    .content__user-login--submit{
        background-color: #000;
        color: #fff;
    }
    /* Thông tin sản phẩm */ 
    .mobile-reverse {
        display: flex;
        flex-direction: column-reverse; /*sắp xếp ngược từ dưới lên để đảo lộn ảnh*/
    }
    .content__information-item--secondary__image {
        display: flex;
        height: 130px;
        margin-left: 15px;
    }
    .content__information-item--secondary__image---item{
        margin-left: 10px;
    }
    .content__information-item--secondary__image---item img {
        height: 100px;
        width: 100px;
        margin: 0 5px;
    }
    .content__information-item--title { 
        line-height: 25px;
    }
    .content__information-item--buy---add {
        width: 190px;
        margin: 20px 0 0 10px;
    }
    .content__information-item--detail p {
        margin: 8px 30px 0 0;
    }
    .content__information-item--delivery_service p {
        margin: 19px 30px 0 0;
    }
    .content__information-item--buy---add {
        background-color: red;
        color: #fff;
        border: 1px solid red;
    }
    .header__navbar-icon--link---quantity_cart {
        margin-left: 19px;
    }
    /* trang thông tin sản phẩm */
    .content__information-item-main__photo img {
        margin-top: -39px;
    }

    .content__information-item--buy {
        position: fixed;
        display: flex;
        justify-content: space-around;
        bottom: 0;
        background: #fff;
        padding: 0;
        right: 0;
        left: 0;
        border-top: 1px solid #ccc;
        z-index: 1;
        padding-bottom: 20px;
        box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.5);
    }
    .content__information-item--minus {
        margin-left: 0;
    }
    .content__information-item--buy__show {
        display: block;
    }
    .content__information-item--buy---add {
        background-color: #000;
        border: #000;
    }
    .header__navbar-icon--link---quantity_cart { 
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 50px;
    }
    .content__information-item--buy---add {
        font-size: 12px;
        border-radius: 4px;
    }
    .showCart__info-footer--button button {
        border: 1px solid #000;
        padding: 5px 11px;
    }
    .showCart__info-footer--button {
        margin-right: 104px;
    }
    .header__navbar-icon--link---cart {
        margin-left: 30px;
    }
    .content__information-item--delivery p {
        line-height: 15px;
    }
    /* show cart */
    .showCart {
        bottom: 0;
        left: 0;
        right: 0 !important;
        z-index: 3;
        width: 100%;
        border: none;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        animation: crollBotToTop 0.8s ease-in-out;
    }
    .showCart::before  {
        display: none;
    }
    @keyframes crollBotToTop {
        0% {
            opacity: 0;
            transform: translateY(750px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
    .showCart__info-img {
        align-items: center;
        height: 85px;
        width: 85px;
    }
    .showCart__info-header {
        position: relative;
    }
    .showCart__info-header i {
        position: absolute;
        font-size: 17px;
        right: 0;
        
    }
    .showCart__info-footer {
        position: relative;
    }
    /* .showCart__info-footer--price {
        /* position: absolute; 
        right: 0;
        margin: 10px;
    } */
    .showCart__info-header p {
        line-height: 15px;
    }
    .showCart-footer button {
        background-color: #000;
        color: #fff;
        margin-left: -10px;
    }
    .showCart-footer--button {
        display: flex;
        justify-content: center;
    }
    /* header showcart */
    .showCart-header__cover {
        background-color: #000;
        color: #fff;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        /* border: 10px solid #000; */
    }
    .showCart-header {
        display: flex;
        justify-content: space-between;
        margin: 0 10px; 
    }
    .showCart-header h1{
        font-weight: 900;
    }
    .showCart-header h1 {
        margin-left: -15px;
        border: none;
    }
    .showCart-header h2:first-child, 
    .showCart-header h2:nth-child(3) {
        display: block;
        margin: 20px 10px 0;
    }
    /* phần trang giỏ hàng */
    #content__buy {
        margin: 0 9px;
    }
    .content__buy-item {
        border: none;
    }

    .content__buy-title {
        margin: 120px 10px 0;
    }
    .content__buy-item--menu---info_box----right__header {
        width: calc(100% - 9px);
    }
    .content__buy-item--menu---info_box----right__header h2 {
        font-size: 14px;
        line-height: 18px;
        width: 200px;

    }
    .content__buy-item--menu---info_box----right__header p {
        right: 0;
        margin:-3px 10px 0 0;
        font-size: 14px;
    }
    .content__buy-item--menu---info_box----right__header {
        margin-bottom: 5px;
    }
    .content__buy-item--menu---info_box----right__footer button {
        border: 1px solid #000;
    }
    .content__buy-item--menu---info_box----right__footer input {
        border: 1px solid #ccc;
    }
    .content__buy-item--menu---info_box----right__footer {
    }
    .content__buy-item--menu---info_box----right__footer p {
        margin: 0 25px;
    }
    .content__buy-item--menu---info_box----bill h2 {
        margin-top: -2px;
    }
    .content__buy-item--menu---info_box----input__one input {
        width: 100%;
    }
    .content__buy-item--menu---info_box----input__one input:nth-child(2) {
        margin: 10px 0;
    }
    .content__buy-button_pay {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #fff;
        z-index: 1;
        box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.5);
        display: flex;
        
    }
    
    .content__buy-button_pay button {
        /* display: absolute; */
        margin: 10px 0 -10px 0;
        width: 350px;
        height: 50px;
        background-color: black
        
    }
    .content__buy-item--menu {
        border-bottom: 1px solid #000;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    .content__buy-info {
        margin-bottom: 40px;
        border: none;
    }
    /* TRang thông tin */
    .container__controduce {
        margin-top: 100px;
        padding: 0 10px;
    }
    .container__controduce h1 {
        font-size: 25px;
    }
    .container__controduce--img {
        margin: 30px 0;
    }
    #sitemap   {
        margin: 100px 0;

    }

    /* Trang login */
    .container__login {
        transform: scale(0.6);
    }
}
